<div class="footer-basic">
    <footer>
        <div class="social"><a href="https://www.linkedin.com/in/david-binaud/" target="_blank"><i class="icon ion-social-linkedin"></i></a><a href="https://github.com/DavidBinaud" target="_blank"><i class="fab fa-github"></i></a><a href="https://www.codingame.com/profile/263ba4ac8e9e58bca96812229ebc7dc69793033"
                                                                                                                                                                                                                                         target="_blank"><i class="fas fa-code"></i></a><a href="https://open.spotify.com/user/1178601112?si=UcrMDy1pShS0-6CHucBXZg" target="_blank"><i class="fab fa-spotify"></i></a>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ path('cv') }}"><br>À&nbsp;propos</a></li>
                <li class="list-inline-item"><a href="{{ path('contact') }}"><br>Contactez-moi<br></a></li>
                <li class="list-inline-item"><a href="{{ path('projects') }}"><br>Projets<br></a></li>
            </ul>
        </div>
        <p class="copyright">David Binaud © 2020 réalisé avec Bootstrap Studio</p>
    </footer>
</div>