{% extends 'base.html.twig' %}

{% block title %}{{ projet.name }}{% endblock %}

{% block body %}
    <main class="page project-page">
        <section class="portfolio-block project">
            <div class="container">
                <div class="heading">
                    <h2>{{ projet.name }}</h2>
                </div>
                <div class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 700px;">
                    <div id="unityContainer" style="width: 90%;height: 90%;"></div>
                    <div class="webgl-footer">
                        <div class="webgl-logo"></div>
                        <div class="fullscreen" onclick="unityInstance.SetFullscreen(1)"></div>
                        <div class="title"></div>
                    </div>
                </div>
                {% include('project/more.html.twig') %}
            </div>
        </section>
    </main>
{% endblock %}